// Breakpoints
// -------------------------------------------------------
$breakpoint-wide-handhelds-min:       420px;
$breakpoint-wide-handhelds-max:       599px;
$breakpoint-tablets-min:              600px;
$breakpoint-tablets-max:              800px;
$breakpoint-desktops-min:             801px;
$content-width-desktops:              1080px;
