@import 'mixins';
@import 'settings';

:root {
  --text-color: #333333;
  --back-color: #FFFFFF;
  --link-color: #1A72AA;
  --secondary-color: #999999;
  --light-color: #DDDDDD;
}

@media (prefers-color-scheme: dark) {
  :root {
   --text-color: #FFFFFF;
   --back-color: #333333;
   --link-color: #87CEFA;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background: var(--back-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin-top: 1rem;
}

li {
  display: block;
  margin-bottom: 0.236rem;
  text-transform: lowercase;

  a {
    display: inline-block;
  }

  &:hover {
    .copy {
      display: inline-block;
    }
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

.app {
  margin: 1rem;

  @include r(desktops) {
    max-width: 80%;
    margin: 4rem auto;
  }
}

.app__name {
  font-weight: normal;
  font-size: 2.418rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;

  span {
    font-weight: bold;
    font-size: 2.618rem;
  }
}

.app__search-form {
  margin-bottom: 1.5rem;

  input {
    appearance: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: 0;
    padding: 1rem;
    border: 1px solid var(--light-color);
    font-size: 1rem;
    color: var(--text-color);

    &:focus {
      border-color: var(--text-color);
      outline: 0;
    }

    &::placeholder {
      color: var(--light-color);
    }
  }
}

.app__content {
  margin: 1rem 0;

  @include r(desktops) {
    margin: 4rem 0;
  }
}

.copy {
  display: none;
  margin-left: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--secondary-color);
}
